.heading {
    transition: all 300ms ease-in-out
}


.heading:hover {
    background: red;
}

a {
    color: darkorange;
}

a:link {
    color: deeppink;
}

a:visited {
    color: firebrick;
}

a:hover {
    background: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active {
    background: darkslategray;
    color: white;
    text-decoration: none;
}

input:checked + p {
    background: red;
}

input:not(:checked) + p {
    background: yellow;
}


.pai .lista li:last-child {
    background: red;
}

input:required {
    background:  red;
}

p:not(.meio) {
    color: blue;
}